# Env
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build
dist/
build/

# Prisma
prisma/migrations/

# Logs
*.log
logs/

# Coverage
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
